
header{
	position: relative;
	display: block;
	width: 80%;
	height: 10%;
	margin: auto;
	text-align: center;
	font-size: 3rem;
	padding-top: 10%;
	color: rgba(256, 256, 256, .9);
	cursor: default;
	top: 5%;
}


.logos-section{
	position: relative;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	top:25%;
}

.logos-container{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	padding-bottom: 5%;
}

.partner{
	width: 27%;
	height: 70px;
	height: -ms-500px;
/*	border: 1px white solid;*/
	text-align: center;
	padding-top: 5%;
	margin-top: 10%;
	margin-bottom: 10%;
	color: rgba(256, 256, 256, .8);
	font-size: 1.3rem;
	cursor: default;
	transition: color .1s linear 0s;
}

@media screen and (max-width: 450px){
	
	.logos-container{
		display: block;
		padding-bottom: 4rem;
		padding-top: 3rem;
		width: 100%;
	}

	.partner{
		position: relative;
		text-align: center;
		padding: 4rem 0rem;
		margin: auto;
		width: 100%;
		text-align: center;
	}

	header{
		top: 6rem;
	}

}
